.appointment-header{
	text-align: center;
}
.date-appointment{
	display: inline;

}
.date-appointment > button{
	padding: 8px 16px;
    transform: none;
    border-color: #dee3e7;
    min-height: 42px;
    color: #101928;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-transform: none;
    border: 1px solid #eef0f2;
    background: white;
    margin-left: -5px;
	display: inline;
}
.date-selected{
	min-width: 210px;
	padding: 8px 16px;
}

@media (max-width: 400px) {
		#date-title{
			display: none;
		}
}

.service-box{
    margin-top: 20px;
    background-color: white;
}

.service-list > input{
    display: inline;
    margin-left: 20px;
    padding-left: 10px;
}
.bs-stepper-content{
    margin-bottom: 120px;
}
.bs-service-item{
    word-wrap: break-word;
    background-color: #FFF;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
    margin-bottom: 10px;
    display: block;
}
.service-hide{
  display: none;
}
.box-service{
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 15px;
}
.thumb-service{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.service-box-info{
    display: inline;
}

.service-name{
    display:block;
    color: #222222;
    font-size: 18px;
    font-weight: bold;
}
.service-duration{
    display: block;
}
.service-price{
    margin-top: 15px;
    text-align: center;
}
.service-price > span{
    font-size: 21px;
    color: #FF5C39;
}
.box-art{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 10px;
}
.item-art{
  flex: 25%;
  max-width: 25%;
  padding: 0 4px; 
}

.item-art > img{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
}
.row{
    margin:10px 0px;
}
.box-add-service{
    text-align: center;
    margin-top: 10px;
}
.box-add-service > div{
    text-align: center;
    display: block;
    margin-bottom: 10px;
}
.box-add-service > div > button{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    max-width: 150px;
    min-width: 120px;
    background-color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    padding: 2px;
    border: 1px solid #FF5C39;
    padding: 5px 15px;
    outline:none;


}

.btn-service{
     color: #FF5C39;
}
.added{
    color: #FFFFFF;
    background:#FF5C39 !important;
}
.content{

}
.floating-cart{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FF5C39;
    color: white;
    z-index: 9999;
}
.floating-cart .container {
    padding: 15px 0;
}
.floating-cart .main .count {
    position: relative;
    margin-right: 30px;
}
.floating-cart .main .sum {
    height: 30px;
    font-size: 30px;
    margin-right: 20px;
}
.floating-cart .main .count .number {
    position: absolute;
    top: 0;
    right: -10px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    background: #222222;
    font-size: 12px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    border-radius: 100%;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.floating-cart .main > div {
    float: left;
}
.floating-cart .main .desc {
    margin-top: 5px;
}

@media (max-width: 991px)
.floating-cart .main .desc {
    display: none;
}

@media (max-width: 768px)
.floating-cart .link a {
    line-height: 35px;
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
}


.floating-cart .link {
    text-align: right;
}
.floating-cart .link button {
    display: inline-block;
    line-height: 40px;
    padding: 0 30px;
    font-size: 20px;
    color: #222222;
    background: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    font-weight: 500;
    -moz-box-shadow: 1px 1px 10px rgba(95, 27, 13, 0.368);
    -webkit-box-shadow: 1px 1px 10px rgba(95, 27, 13, 0.368);
    box-shadow: 1px 1px 10px rgba(95, 27, 13, 0.368);
}
.active > span{
    background-color: #007bff;
}

.bs-calendar-box{
    text-align: center;

}
.slide-stylist{
    width: 100%;
    overflow: auto;
    white-space:nowrap;
}
.slide{
     display: inline-block;
     margin-right: 10px;
     margin-bottom: 10px;
}
.slide img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.slide-stylist {
  &::-webkit-scrollbar {
    display: none;
  }
}

.calendar-date-box{
    background-color: white;
    border-radius: 3px;
    border:1px solid #ccc;
    text-align: center;
 /*   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;*/


}
.item-time{
    margin: 10px;
    padding: 10px;
    text-align: center;
     border-radius: 3px;
     cursor:pointer;
}
.item-time{
    background-color: white;
    color:black;
}
.item-time:hover{
    background-color: #ccc;
    color:black;
}
.selected:hover{
    background-color: #FF7D61;
    color:white;
}
.selected{
    background-color: #FF7D61;
    color:white;
}

.expired{
    color:#ccc;
}




/* uncomment this to use css animation in webkit browsers */
/* @-webkit-keyframes rotateThis {
  from {-webkit-transform:scale(0.5) rotate(0deg);}
  to {-webkit-transform:scale(0.5) rotate(360deg);}
} */

/* ==========================================================================
   #SELECT2
   ========================================================================== */
.select--no-search .select2-search {
  display: none !important;
}

.select2-container--open .select2-dropdown--below {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  margin-top: 5px;
  overflow: hidden;
}

.select2-container--default .select2-results__option {
  padding-left: 22px;
}

.rs-select2 .select2-container {
  width: 100% !important;
  outline: none;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-width: 250px;
  border: 1px solid #ccc;
}

.rs-select2 .select2-container .select2-selection--single {
  outline: none;
  border: none;
  height: 50px;
  background: transparent;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
  padding-left: 0;
  color: #555;
  font-size: 16px;
  font-family: inherit;
  padding-left: 22px;
  padding-right: 50px;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
  height: 50px;
  right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
  font-family: "Material-Design-Iconic-Font";
  content: '\f2f9';
  font-size: 24px;
  color: #999;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.name{
    text-align: left;
    margin-bottom: 10px;
    font-size: 20px;
}
.name span{
    color: red;
}

.box-appoinment{
    padding: 10px;
    border-radius: 5px;
    border:1px solid #ccc;
}
.box-appoinment-info{
    border-right: 1px solid #ccc;
    border-bottom: none;
}
@media only screen and (max-width: 992px) {
  .box-appoinment-info {
     border-right:none;
     border-bottom: 1px solid #ccc;
  }
}
.box-appoinment-info div{
    text-align: left;
    margin-bottom: 10px;
}
.box-customer-info div{
    text-align: left;
}

.input-customer-info {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}


.col-25 {
  float: left;
  width: 30%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.item-customer-info:after {
  content: "";
  display: table;
  clear: both;
}

.btn { margin-bottom:10px; }
.btn-step{
    min-width: 100px;
    padding: 5px 15px;
    background-color: #FF5C39;
    border-radius: 3px;
    border:none;
    color: white;
    outline: none;
}
.total-price-row td{
    font-weight: bold;
    color: black;
}
.top-filter {
    vertical-align: top;
    margin: 20px 0px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}
.search-box{
  width: 200px;
  display: inline-block;

}
.logo-header {
    background-color: #3C8DBC;
    color: #fff;
    border-bottom: 0 solid transparent;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
}