
.header-title {
    text-align: center;
    padding-bottom: 10px;
}
.header-appointment-title{
    margin 10px auto;
    font-size: 20px;
}

.header-title img {
    float: right;
  width: 33px;
  height: 33px;
}
.top-filter-header{
    position: relative;
   display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    -webkit-box-pack: center;
    justify-content: center;
    border-bottom: 1px solid #dee3e7;
    margin-right: 0px;
    padding-right: 0px;
}
.title-top{
    display: inline;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    padding: 14px 0;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
    color: #101928;
    min-width: 0;
}
.fa-star{
  color: #ccc;
}
.checked {
  color: orange;
}

.tool-box{
    position: absolute;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right:16px;
}
.tool-box img{
    width: 24px;
    height: 24px;
    cursor: pointer;

}
.tool-box a{
  padding: 0px;
  min-width: 24px;
}
.appointment-info{
     border: 1px solid #ccc;
     background-color: white;

}
.box-appointment-info{

    border-right: 1px solid #ccc;

}

.info-header{
    text-align: center;
    margin-top: 10px;
}
.col-appointment-info{
    padding-left: 10px;
}

.col-customer-info{
    
    margin-left: 0px;
}

@media only screen and (max-width: 600px) {
  .col-customer-info {
    padding-left: 10px;
  }
}

.box-btn{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: white;
}
.box-btn button,a{
  display: inline;
  min-width: 100px;
  padding: 5px 15px;
  border-radius: 3px;
  
}

.btn-appointment{
   font-weight: 700;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    line-height: 18px;
    padding: 8px 16px;
    min-height: 44px;
    white-space: nowrap;
    min-width: 128px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 #a4adba;
    border: 1px solid transparent;
    margin: 20px 10px 10px;
    width: 128px;
    display: inline-block;
}
.btn-dark{
    background-color: #101928;
    color: white;
    text-transform: uppercase;
    width: 128px;
    display: inline-block;
}

.btn-white{
    color: #101928;
    width: 128px;
    display: inline-block;
    background: white;
    text-transform: uppercase;
    border: 1px solid #eef0f2;
    box-shadow: 0 2px 5px 0 rgba(164, 173, 186, 0.25);
}

/*#btnCheckIn,#btnBack{
  background-color: #FF5C39;
  color: white;
  border:none;
  outline: none;
}
#btnCancel{
background-color: white;
color: black;
border:1px solid #ccc;
outline: none;
}*/