.content-wrapper{
  background-color: white;
}
@media (min-width: 768px){
.form-import{
  padding:0 100px;
}

}
.content{
    padding-top: 0px;
}
.top-filter-header{
    position: relative;
   display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    -webkit-box-pack: center;
    justify-content: center;
    border-bottom: 1px solid #dee3e7;
    margin-right: 0px;
    padding-right: 0px;
}
.title-top{
    display: inline;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    padding: 14px 0;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
    color: #101928;
    min-width: 0;
}



.tool-box{
    position: absolute;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right:16px;
}

.img-icon{
	 width: 24px;
    height: 24px;
    cursor: pointer;
   	content: url('../adminlte/edit.svg');
}
.edit-mode{
	content: url('../adminlte/cancel.svg');
}

.box-input-info{
    display: flex;
    position: relative;
    height: 42px;
    width: 100%;
}
.box-container-input{
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}
.form-import h3{
    margin-left: 20px;
}
.input-info-product{
    display: block;
    width: 100%;
    height: 42px;
    background-color: white;
    background-image: none;
    border: 1px solid #c9cdd0;
    border-radius: 2px;
    font-family: Roboto, sans-serif;
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    color: #101928;
    outline: 0;
    padding: 9px 12px;
    line-height: normal;
    font-size: 16px;
    font-weight: normal;
    vertical-align: middle;
    -webkit-transition: all 0.12s ease, background 0.2s linear 0s;
    transition: all 0.12s ease, background 0.2s linear 0s;
    box-shadow: none;
    cursor: text;
    text-decoration: none;
}
.form-input{
    margin-bottom: 20px;
}
.detail-location{
    border-color: #a4adba;
    margin-bottom: 0;
    display: block;
    position: relative;
    min-height: 100px;
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
    background-image: none;
    border: 1px solid #dee3e7;
    font-family: Roboto, sans-serif;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    color: #101928;
    outline: 0;
    padding: 9px 12px;
    line-height: normal;
    font-size: 16px;
    font-weight: normal;
    vertical-align: middle;
    -webkit-transition: all 0.12s ease, background 0.2s linear 0s;
    transition: all 0.12s ease, background 0.2s linear 0s;
    box-shadow: none;
    border-radius: 2px;
    -webkit-transition: border-color 0.2s linear !important;
    transition: border-color 0.2s linear !important;
    overflow: auto;
    
}
.form-input-price{
    margin: 0 !important;
    display: -webkit-box;
    display: flex;

}

@media (min-width: 768px){
    .form-input-price {
    -webkit-box-flex: 1;
    flex: 1;
    margin: 0 10px;
 }
}
.form-input-price-product{
    -webkit-box-flex: 1;
    flex: 1;
    flex-basis: auto;
    margin-bottom: 20px;
    margin-right: 5px;
}

.price-unit{
    display: block;
    color: #a4adba;
    border-color: #c9cdd0;
    border: 1px solid #c9cdd0;
    border-right: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 9px 12px;
}

.input-active{
  box-shadow: 0 0 7px rgba(0, 147, 239, 0.1);
  background-color: white;
  border-color: #2883d2;
  outline: 0 !important;
}
.input-count{
    width: 100px;
}

.error{
    border-color: #f74969;
}
.error-msg{
    color: #f74969;
    display: none;
}
.price-box input{
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.duration-input{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.product-category-box{
    display: block;
    position: relative;
    height: 42px;
    line-height: 42px;
    text-align: center;
    overflow: hidden;
    width: 100%;
}
.product-category-box select{
    display: block;
    cursor: pointer;
    height: 100%;
    width: 100%;
    line-height: normal;
    letter-spacing: 0.01em;
    font-size: 16px;
    font-weight: normal;
    vertical-align: middle;
    color: #67768c;
    background-color: white;
    background-image: none;
    appearance: none;
    border: 1px solid #dee3e7;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
    border-radius: 2px;
    padding: 5px 35px 5px 12px;
    -webkit-transition: background 0.2s linear 0s, border-color 0.2s linear;
    transition: background 0.2s linear 0s, border-color 0.2s linear;

    outline: 0;
}
.icon-select-option{
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-200%);
    pointer-events: none;
    width: 12px;
    height: 12px;
    min-width: 12px;
    min-height: 12px;
    display: inline-block;
    vertical-align: middle;
    line-height: 42px;
    text-align: center;
    -webkit-box-direction: normal;

}
.thumb-product{
    width: 80%;
    border:none;
    outline: none;
    max-height: 500px;
}
.bottom-box{
    text-align: center;
}
.btn-import-product{
    font-weight: 700;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    line-height: 18px;
    padding: 8px 16px;
    min-height: 44px;
    white-space: nowrap;
    min-width: 128px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 #a4adba;
    border: 1px solid transparent;
    margin:20px 10px 10px;
    width: 128px;
    display: inline-block;
}
.btn-save{
    background-color: #101928;
    color: white;
    text-transform: uppercase;
    width: 128px;
    display: inline-block;
}
.btn-cancel{
    color: #101928;
    width: 128px;
    display: inline-block;
    background: white;
    text-transform: uppercase;
    border: 1px solid #eef0f2;
    box-shadow: 0 2px 5px 0 rgba(164, 173, 186, 0.25);
}


@media screen and (max-width: 540px){
    .btn-save{
        width: 100%;
    }
    .btn-cancel{
        display: none;
    }
}


.select--no-search .select2-search {
    display: none !important;
}

.select2-container--open .select2-dropdown--below {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #e0e0e0;
    margin-top: 5px;
    overflow: hidden;
}

.select2-container--default .select2-results__option {
    padding-left: 22px;
}

.rs-select2 .select2-container {
    width: 100% !important;
    outline: none;
    background: white;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.rs-select2 .select2-container .select2-selection--single {
    outline: none;
    border: 1px solid #ccc;
    height: 50px;
    background: transparent;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
    padding-left: 0;
    color: #555;
    font-size: 16px;
    font-family: inherit;
    padding-left: 22px;
    padding-right: 50px;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
    height: 50px;
    right: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
    font-family: "Material-Design-Iconic-Font";
    content: '\f2f9';
    font-size: 24px;
    color: #999;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.city-select{
    position: absolute;
}
.box-content{
	text-align: center;
}