.top-filter{
	vertical-align: top;
	margin: 20px;
	display: flex;
	flex-direction: row;
}
.search-box{
	margin-right: 20px;
	width: 200px;
	display: inline-block;
	float: top;
}
.view-loading{
	text-align: center;
}
.box-content-data{
	text-align: center;
}
.tool-box{
  display: inline-block;
}
.btn-manager{
  display: inline;
  margin-right: 10px;
  background-color: #FF5C39;
  color: white;
  border: none;
  outline: none;
  border-radius: 3px;
}
.info-box{
	border:1px solid rgba(0,0,0,0.1);
}
.box-item{
	background-color: #E7EBF1;
}
.bootstrap-select .bs-ok-default::after {
    width: 0.3em;
    height: 0.6em;
    border-width: 0 0.1em 0.1em 0;
    transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
    outline: none !important;
}
.table-responsive{
	text-align: center;
}
.item-table{
	cursor: pointer;
}
thead tr{
	text-align: center;
}