/*.intervals-with-time{
	width: 48px;
	min-width: 48px;
	height: 3456px;
	display: flex;
	float: left;
	flex-direction: column;
	overflow: hidden;
	text-align: right;
	box-sizing: content-box;
	flex-shrink: 0;
	border-right: 1px solid #dee3e7;
}
.table-appointment{
	overflow: hidden;
	/*height: 3456px;
}
.intervals-hour-start{
	font-size: 14px;
	margin-bottom: 48px;
	height: 24px;
	justify-content: center;
	line-height: 11px;
    font-weight: 500;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
    color: #101928;
}
.date-box{
	cursor: pointer;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #101928;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    transition: box-shadow 200ms, background 200ms;
    box-shadow: none;

}

.date-content-box{
	font-size: 27px;
    letter-spacing: -2px;
    text-indent: -2px;
    margin-right: 6px;
    width: 44px;
    height: 44px;
    margin-bottom: 0px;
	color: white;
    background-color: #2b72bd;
    border-radius: 50%;
}
.day-content-box{
	font-weight: 500;
    text-align: center;
    color: #2b72bd;
    font-size: 14px;
    margin-top: 1px;
    align-self: center;
}
.date-box{
	height:60px;
}
.data-filters{
	margin-left:48px;
}
.row-slot-table{
	height: 24px;
}
.table-slot{
	width: 100%;
}
.table-slot >tbody>tr>td{
	 border:1px solid black;
}
*/
.content-wrapper{
      background-color: #ecf0f5;
}
.box-chart{

	padding: 10px;

}
.box-item {
    background-color: 
    #E7EBF1;
}
.box-chart-container{
	background-color: white;
	position: relative;

}

.box-chart >.box-chart-container > .box-chart-label {
	position: relative;
}
.box-chart >.box-chart-container > .box-chart-label >.box-chart-label-title{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	z-index: 9;
}
.box-chart >.box-chart-container > .box-chart-label >.box-chart-icon-filter{
	position: relative;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
}
#menu,#menu-appointment{
	position: absolute;
	left:auto;
    right:0;
    margin-right:-10px;
}


.box-chart >.box-chart-container > .box-chart-label >.box-chart-icon-filter >span{
	padding: 10px;
	background-color: white;
}
.box-chart >.box-chart-container > .box-chart-label >.box-chart-icon-filter > span:hover{
	background-color: #ccc;
}
.box-chart >.box-chart-container > .box-chart-label{
	display: flex;
	justify-content: space-between;

}

.box-chart-title{
	font-weight: 700;
	font-size: 18px;
	color: #101928;
	line-height: 25px;
	word-wrap: break-word;
	max-width: 100%;
	min-width: 0;
}
.box-chart-filter{
	color: #67768c;
	line-height: 22px;
	font-size: 14px;
	word-wrap: break-word;
	max-width: 100%;
	min-width: 0;

}


.input-bar {
    display: table;
    width: 100%;
}

.input-bar-item {
    display: table-cell;
}

.input-bar-item > button {
    margin-left: 5px;
}
    

.box-chart-info > span{
	line-height: 57px;
	font-size: 40px;
	margin: 8px 0 24px;
	color: #101928;
	margin-left: 20px;
}
.info-appointment-label{
	margin-left: 20px;
	word-wrap: break-word;
	max-width: 100%;
	min-width: 0;
	color: #67768c;
	line-height: 1.143;
	font-size: 14px;
}
.info-appointment-value{
	font-weight: 700;
	line-height: 1.143;
	font-size: 14px;
	word-wrap: break-word;
	max-width: 100%;
	min-width: 0;
}
.chart-sales-wrapper{
	padding: 20px;
}
.chart-sales{
	margin-top: 20px;
	border-top-color: white;
}
.legend-menu{
	list-style-type: none;
	align-items: center;
	display:flex;
	justify-content: center;
	padding-left: 0px;
}
.legend-menu > li {
	display: inline-block;
	text-align: center;
	margin-right: 30px;
	color: black;
}
.legend-menu > li > span{
	margin-right: 5px;
	display: inline;
}
.legend-menu > li > span::after{
	color:black;
}
.table-all-appointment > tbody > tr > td{
	text-align: center;
}

.chart-empty-view{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	text-align: center;
	z-index: 99;
}
.item-table{
  cursor: pointer;
}
