
.header-title {
    text-align: center;
    padding-bottom: 10px;
}
.header-receipt-title{
    margin 10px auto;
    font-size: 20px;
}

.header-title img {
    float: right;
  width: 33px;
  height: 33px;
}
.receipt-info{
     border: 1px solid #ccc;
     background-color: white;

}
.box-receipt-info{

    border-right: 1px solid #ccc;

}

.info-header{
    text-align: center;
    margin-top: 10px;
}
.col-receipt-info{
    padding-left: 10px;
}

.col-customer-info{
    
    margin-left: 0px;
}

@media only screen and (max-width: 600px) {
  .col-customer-info {
    padding-left: 10px;
  }
}

.box-btn{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: white;
}
.box-btn button,a{
  display: inline;
  min-width: 100px;
  padding: 5px 15px;
  border-radius: 3px;
  
}
#btnCheckIn,#btnBack{
  background-color: #FF5C39;
  color: white;
  border:none;
  outline: none;
}
#btnCancel{
background-color: white;
color: black;
border:1px solid #ccc;
outline: none;
}
.container-info-product{
  text-align: center;
  width: 500px;
}

.form-receipt{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-input{
  display: flex;
  margin-bottom: 10px;
}
.form-input label{
  margin-right: 10px;
  min-width: 120px;
}
.box-input-info{
  flex-grow: 1;
}
.box-input-info input{
  padding: 5px 0px;
  width: 100%;
}
.box-input-info span{
  margin-top: 5px;
  width: 100%;
  display: block;
  text-align: left;
}

.error-msg{
  color: red;
}
.box-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-receipt{
   font-weight: 700;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    line-height: 18px;
    padding: 8px 16px;
    min-height: 44px;
    white-space: nowrap;
    min-width: 128px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 #a4adba;
    border: 1px solid transparent;
    margin: 20px 10px 10px;
    width: 128px;
    display: inline-block;
}
.btn-dark{
    background-color: #101928;
    color: white;
    text-transform: uppercase;
    width: 128px;
    display: inline-block;
}

.btn-white{
    color: #101928;
    width: 128px;
    display: inline-block;
    background: white;
    text-transform: uppercase;
    border: 1px solid #eef0f2;
    box-shadow: 0 2px 5px 0 rgba(164, 173, 186, 0.25);
}

.input-info-product {
    display: block;
    height: 42px;
    background-color: white;
    background-image: none;
    border: 1px solid #c9cdd0;
    border-radius: 2px;
    font-family: Roboto, sans-serif;
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    color: #101928;
    outline: 0;
    padding: 9px 12px;
    line-height: normal;
    font-size: 16px;
    font-weight: normal;
    vertical-align: middle;
    -webkit-transition: all 0.12s ease, background 0.2s linear 0s;
    transition: all 0.12s ease, background 0.2s linear 0s;
    box-shadow: none;
    cursor: text;
    text-decoration: none;
}
input[disabled="true"]{
  background-color: #edeaea;
}

.input-active {
    box-shadow: 0 0 7px rgba(0, 147, 239, 0.1);
    background-color: white;
    border-color: #2883d2;
    outline: 0 !important;
}



@media only screen and (max-width: 600px) {
  .form-receipt {
    margin-left: 10px;
    margin-right: 10px;
  }
  .box-input-info input{
  padding: 5px 0px;
  width: 100%;
 }
}


