.content-wrapper{
  background-color: white;
}
.top-filter{
  vertical-align: top;
  margin: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.search-box{
  margin-right: 20px;
  width: 200px;
  display: inline-block;
  float: top;
}
.tool-box{
  display: inline-block;
}
.btn-manager{
  display: inline;
  margin-right: 10px;
  background-color: #FF5C39;
  color: white;
  border: none;
  outline: none;
  border-radius: 3px;
}
.info-box{
  border:1px solid rgba(0,0,0,0.1);
}
.box-item{
  background-color: #E7EBF1;
}
.bootstrap-select .bs-ok-default::after {
    width: 0.3em;
    height: 0.6em;
    border-width: 0 0.1em 0.1em 0;
    transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
    outline: none !important;
}
.table-responsive{
  text-align: center;
}
.item-table{
  cursor: pointer;
}
thead tr{
  text-align: center;
}
.product-category-box{
  display: block;
    position: relative;
    height: 42px;
    line-height: 42px;
    text-align: center;
    overflow: hidden;
    width: 100%;
}
.product-category-box select{
  display: block;
    cursor: pointer;
    height: 100%;
    width: 100%;
    line-height: normal;
    letter-spacing: 0.01em;
    font-size: 16px;
    font-weight: normal;
    vertical-align: middle;
    color: #67768c;
    background-color: white;
    background-image: none;
    appearance: none;
    border: 1px solid #dee3e7;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
    border-radius: 2px;
    padding: 5px 35px 5px 12px;
    -webkit-transition: background 0.2s linear 0s, border-color 0.2s linear;
    transition: background 0.2s linear 0s, border-color 0.2s linear;

    outline: 0;
}
.icon-select-option{
  position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-200%);
    pointer-events: none;
    width: 12px;
    height: 12px;
    min-width: 12px;
    min-height: 12px;
    display: inline-block;
    vertical-align: middle;
    line-height: 42px;
    text-align: center;
    -webkit-box-direction: normal;

}