
.box-hair-style{
  display: flex;
  flex-direction: row wrap;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-start;
}
.item-hair-style{
    position: relative;
    width: 200px;
    margin: 20px;
    padding:20px 20px 20px 20px;
    background-color: white;
    border-radius: 3px;
    border:1px solid #ccc;
}

.item-hair-style img{
   max-height: 150px;
   min-height: 120px;
   width: 150px;
}
.box-img-hair{
    position: relative;
    box-sizing: border-box;
    padding: 5px;
    height: 90%;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centering y-axis */
    align-items :center;
    cursor: pointer;
}
.infor-view-download{
    background-color: rgba(0,0,0,0.5); 
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
    left: 0;
    box-sizing: content-box;
    justify-content: space-between;  /* Centering y-axis */
    flex-direction: row;
    padding:5px 10px;
}
@media screen and (max-width: 540px){
    .infor-view-download{
        display: flex;
    }
}
.box-img-hair:hover .infor-view-download{
    display: flex;
}
.box-infor{

    box-sizing: border-box;
    border:1px solid #ccc;
    border-top: none;
}

.infor-view-download span{
    color: white;
    padding-left: 5px;
}
.infor-view-download i{

    margin-right: 5px;
}

/*.item-hair-style:nth-child(3n+2) {
  background: silver;
  margin: 10px calc(50% - 175px);
}*/
.bottom-data{
    position: absolute;
    bottom: 0;
}
.title-hair{
    text-align: center;
    bottom: 0;
    right: 20px;
    left: 20px;
    position: absolute;
    position: absolute;
    overflow: hidden;
}
.title-hair span{
    font-size: 18px;
    color: #619bce;
    font-weight: bold;
    white-space: nowrap ;
}
.option-hair{
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}
.dropdown-menu{
    min-width: 100px;
    padding-left: 10px;

}
.dropdown-item i{
    margin-right: 5px;
}
.top-filter{
    vertical-align: top;
    margin: 20px;
    display: flex;
    flex-direction: row;
}
.search-box{
    margin-right: 20px;
    width: 200px;
    display: inline-block;
    float: top;
}
.tool-box{
  display: inline-block;
}
.btn-manager{
  display: inline;
  margin-right: 10px;
  background-color: #FF5C39;
  color: white;
  border: none;
  outline: none;
  border-radius: 3px;
}
.option-hair{
    padding: 3px;
    width: 10px;
}
.dialog-right{
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    z-index: 999;
    width: 300px; /*example + never use min-width with this solution */
    background-color: white;
    border-left: 1px solid #ccc;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .2) !important;
    padding-bottom: 30px;

}

.center-item{
    text-align: center;
}
.flex-item{
    display: flex;
    justify-content: center;
}
.flex-item span{
    width: 100%;
    padding: 5px;
}
.text-align-right{
    text-align: right;
}
.item-image{
    height: 200px;
}
.item-image img{
    max-height: 200px;
}
.infor-hair{
    margin-left: 20px;
    margin-top: 20px;
}

.text-infor{
    font-weight: bold;
}
.top-left-fixed{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    cursor: pointer;
}
.product-category-box{
  display: block;
    position: relative;
    height: 42px;
    line-height: 42px;
    text-align: center;
    overflow: hidden;
    width: 100%;
}
.product-category-box select{
  display: block;
    cursor: pointer;
    height: 100%;
    width: 100%;
    line-height: normal;
    letter-spacing: 0.01em;
    font-size: 16px;
    font-weight: normal;
    vertical-align: middle;
    color: #67768c;
    background-color: white;
    background-image: none;
    appearance: none;
    border: 1px solid #dee3e7;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
    border-radius: 2px;
    padding: 5px 35px 5px 12px;
    -webkit-transition: background 0.2s linear 0s, border-color 0.2s linear;
    transition: background 0.2s linear 0s, border-color 0.2s linear;

    outline: 0;
}
.icon-select-option{
  position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-200%);
    pointer-events: none;
    width: 12px;
    height: 12px;
    min-width: 12px;
    min-height: 12px;
    display: inline-block;
    vertical-align: middle;
    line-height: 42px;
    text-align: center;
    -webkit-box-direction: normal;

}