.top-nav{
	position: absolute;
    left: 0;
    right: 0;
    padding: 1.875rem 3.4375rem;
    z-index: 2;
    -webkit-transition: border 0.3s ease-in-out, padding 0.3s ease-in-out;
    transition: border 0.3s ease-in-out, padding 0.3s ease-in-out;
    background-color: white;
    border-bottom: none;
}
.fixed{
	position: fixed;
	border-bottom: 1px solid #d3d3d3;
}
@media (max-width: 1200px){
	.top-nav {
    position: fixed;
    border-bottom: 1px solid #d3d3d3;
}
}

.main-nav {
    float: right;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-nav__item {
    float: left;
}
.top-nav__btn {
    background-color: transparent;
    color: #2a343a;
    border-radius: 30px;
    border: 1px solid #24334a;
}
.top-nav__btn:hover{
	background-color: black;
	color: white;
}
.btn--small {
    padding: 0.9375rem;
}
.btn {
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 0.9375em 1.5625em;
    letter-spacing: 0.05rem;
    -webkit-transition: all 0.12s;
    transition: all 0.12s;
}
.main-nav__link {
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 0.9375rem;
    color: #2a343a;
    margin-left: 0.3125rem;
    letter-spacing: 0.05rem;
    text-decoration: none;
}
.content{
	background: #fff;
    text-align: center;
    color: #2a343a;
    padding-top: 8.75rem;
    padding-right: 3.4375rem;
    padding-left: 3.4375rem;
}
h1{
	font-size: 4.125rem;
    line-height: 4.8125rem;
    letter-spacing: -0.08px;
    font-weight: 500;
    color: black;
}
h4{
	font-size: 1.75rem;
    line-height: 2.3125rem;
    font-weight: 300;
}
.content-image{
	margin-right: auto;
    margin-left: auto;
    margin-top: 2.5rem;
   	max-width: 1200px;
   	display: flex;

}

.content-image img{
	width: 100%;
    margin-bottom: -3.75rem;
    box-shadow: 10px 0 10px -2px rgba(0,0,0,0.15), -10px 0 10px -2px rgba(0,0,0,0.15);
}
.logo-link {
	text-decoration: none;
    line-height: 2.1875rem;
    transition: all 0.3s;
    color: black;
    font-size: 30px;
}
.logo-link :hover{
	text-decoration: none;
}
.section-header__title{
	font-size: 40px;
}
.features-list {
    margin-top: 4rem;

}
.features-list__item {
    display: table-cell;
    width: 50%;
    float: left;
    margin: 1.5rem 0 0;
    padding: 0 2.5rem;

}

.features-list__image {
    padding-right: 1.875rem;
    min-width: 110px;
    text-align: right;
    display: table-cell;
    vertical-align: top;
}
.features-list__image img{
	width: 90px;
	height: 90px;
}
.features-list__description {
    display: table-cell;
    vertical-align: top;
}
.features-list__header {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2.3125rem;
    font-size: 1.45rem;
    font-weight: 400;
    text-align: left;
}
.features-list__content {
    font-size: 1.0625rem;
    line-height: 1.25rem;
    font-weight: 300;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    text-align: left;
}
.container-box{
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	box-sizing: border-box;
}

.hairstyle-feature{
	margin-top: 6rem;
	padding-top: 3rem;
	padding-bottom: 6rem;
	/*background-position: center bottom;*/
    background-color: #E6E6E6;
  /*  background: linear-gradient(rgba(36, 39, 38, 0.5), rgba(36, 39, 38, 0.5)), rgba(36, 39, 38, 0.5) url('../adminlte/banner.jpeg') no-repeat center;
    background-size: cover;*/
}
.content-feature{
	display: block;
}
.content-feature-hairstyle{
	max-width: 1000px;
	margin: 0 auto;
	max-height: 500px;
}
.content-feature-hairstyle img{
	width: 100%;
	height: 250px;
}
.desc-feature{
	text-align: left;
}
.clearfix {
    clear: both;
}
.main-footer {
	margin-top: 20px;
    border-top: 1px solid #d3d3d3;
    padding: 3.75rem 3.4375rem 2.5rem;
    font-size: 0.9375rem;
}
.main-footer__left {
    float: left;
}
.main-footer__left img{
	width: 50px;
	height: 50px; 
}
.main-footer__top, .main-footer__links {
    height: 25px;
}
.main-footer__right {
    float: right;
}
.main-footer__row{
	margin-left: 70px;
}
.main-footer__link--bold {
    font-weight: bold;
    text-transform: uppercase;
}
.main-footer__link {
    color: #2a343a;
    display: inline-block;
    margin-bottom: 0.625rem;
    font-weight: 300;
}
.main-footer__links li:first-child {
    padding-left: 0;
}
.main-footer__links li {
    display: inline-block;
    position: relative;
    padding: 0 0.9375rem;
}
.main-footer__top li:not(:last-of-type):after {
    content: "|";
    font-weight: bold;
    position: absolute;
    top: -4px;
    right: -4px;
    font-size: 1.15rem;
}